<!DOCTYPE html>
<html lang="en">
  {% extends 'my_hh_app/base.html' %}
{%block title%}
    <title>Title</title>
{% endblock %}
{% block content %}
<body>
<section>
  <div class="login__div">
    <p class=login__p>Вход</p>
    {% if my_form.errors %}
  <p class="login__error__msg">Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
  {% if user.is_authenticated %}
    <p class="login__error__msg">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p class="login__error__msg">Please login to see this page.</p>
  {% endif %}
{% endif %}
    <form method="post" class="login__form" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="all__input__div">
      <div class="login__input__div">{{my_form.username}}</div>
      <div class="login__input__div">{{my_form.password}}</div>
        </div>
      <button class="login__btn"><p class="login__btn__p">Войти</p></button>
  {% if request.GET.next %}
<input type="hidden" name="next" value="{{request.GET.next}}" />
  {% else %}
<input type="hidden" name="next" value="http://127.0.0.1:8000/lk" />
  {% endif %}
    </form>
    <div class="registration__block">
      <p class="or__p">Или</p>
      <p class=reg__p>Регистрация</p>
      <div class="reg__btn">
       <a href="http://127.0.0.1:8000/registrations/1" class="login__btn"><p class="login__btn__p">Ищу работу</p></a>
       <a href="http://127.0.0.1:8000/registrations/2" class="login__btn"><p class="login__btn__p">Даю работу</p></a>
      </div>
    </div>
  </div>

</section>

</body>
{% endblock %}
</html>