
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {%endblock%}
  <link rel="stylesheet" href="{% static 'my_hh_app/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'my_hh_app/css/style.css' %}">
</head>
{% load static %}
<header>
    <nav class="header__nav">
        {% if request.user.is_authenticated == False %}
      <a class="header__link" href="http://127.0.0.1:8000/accounts/login">Вы пока не авторизовались :( </a>
      <a class="logo" href="http://127.0.0.1:8000/" ><img src="{% static 'my_hh_app/images/Checkr.svg' %}"></a>
      <a class="header__link" href="http://127.0.0.1:8000/accounts/login"> Войти</a>
        {% else %}
        <a class="header__link" href="http://127.0.0.1:8000/lk">{{request.user}} </a>
      <a class="logo" href="http://127.0.0.1:8000/" ><img src="{% static 'my_hh_app/images/Checkr.svg' %}"></a>
      <a class="header__link" href="http://127.0.0.1:8000/exit"> Выйти</a>
        {% endif %}
    </nav>
  </header>
{% block content %}
{%endblock%}

<footer class="footer">

    <ul class="our__contacts_ul">Наши контакты:
      <li class="our__phone">89164722860</li>
      <li class="our__tg">@andrey2ku</li>
      </li>
    </ul>

    <ul class="our__links"> Наши соцсети:
      <li class="is-linkedin"><a class="our__links__link"href="#" title="LinkedIn" target="_blank"
          rel="noopener noreferrer"><span>LinkedIn</span></a></li>
      <li class="is-facebook"><a class="our__links__link" href="#" title="Facebook" target="_blank"
          rel="noopener noreferrer"> <span>Facebook</span></a></li>
      <li class="is-twitter"><a class="our__links__link" href="#" title="Twitter" target="_blank"
          rel="noopener noreferrer"> <span>Twitter</span></a></li>
      <li class="is-youtube"><a class="our__links__link" href="#" title="YouTube"
          target="_blank" rel="noopener noreferrer"> <span>YouTube</span></a></li>
    </ul>
  </footer>
