<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My_study</title>
  <link rel="stylesheet" href="{% static 'my_hh_app/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'my_hh_app/css/style.css' %}">
</head>

<body>
  <header>
    <nav class="header__nav">
      <a class="header__link" href="#">username</a>
      <a class="logo"><img src="{% static 'my_hh_app/images/Checkr.svg' %}"></a>
      <a class="header__link" href=""> выход</a>
    </nav>
  </header>

  <section>
    <div class="vacancies__header">Вакансии </div>
    <div class="search__div">
      <input class="vacancies__search" type="search" placeholder="Поиск по специальности">
    </div>
    <div class="vacancies__card">
      <div class="vacancies__card__div__1">
        <a class="vacancy__name" href="#">Java developer</a>
        <a class="company__name" href="#"> ООО рога и копыта</a>
      </div>
      <div class="vacancies__card__div__2">

        <span class="vacancies__city">Москва</span>
      </div>
      <div class="vacancies__card__div__3">
        <button class="clear__button" type="submit">
          <div class="respond__btn">Откликнуться</div>
        </button>
        <span class="salary">Оплата: 3000$</span>
      </div>
    </div>

  </section>

  <section class="resumes">
    <div class="vacancies__header">Резюме </div>
    <div class="search__div">
      <input class="vacancies__search" type="search" placeholder="Поиск по специальности">
    </div>
    <div class="vacancies__card">
      <div class="vacancies__card__div__1">
        <a class="vacancy__name" href="#">Java developer</a>
        <a class="company__name" href="#"> Опыт работы: 3 года</a>
      </div>
      <div class="vacancies__card__div__2">

        <span class="vacancies__city">Москва</span>
      </div>
      <div class="vacancies__card__div__3">
        <a href="#" class="contact__button" type="submit">
          <div class="respond__btn">Получить контакты</div>
        </a>
        <span class="salary">Ожидания по оплате: 3000$</span>
      </div>
    </div>

    <div class="vacancies__card">
      <div class="vacancies__card__div__1">
        <a class="vacancy__name" href="#">Java developer</a>
        <a class="company__name" href="#"> Опыт работы: 3 года</a>
      </div>
      <div class="vacancies__card__div__2">

        <span class="vacancies__city">Москва</span>
      </div>
      <div class="vacancies__card__div__3">
        <a href="#" class="contact__button" type="submit">
          <div class="respond__btn">Получить контакты</div>
        </a>
        <span class="salary">Ожидания по оплате: 3000$</span>
      </div>
    </div>
  </section>

  <footer class="footer">

    <ul class="our__contacts_ul">Наши контакты:
      <li class="our__phone">89164722860</li>
      <li class="our__tg">@andrey2ku</li>
      </li>
    </ul>

    <ul class="our__links"> Наши соцсети:
      <li class="is-linkedin"><a class="our__links__link"href="#" title="LinkedIn" target="_blank"
          rel="noopener noreferrer"><span>LinkedIn</span></a></li>
      <li class="is-facebook"><a class="our__links__link" href="#" title="Facebook" target="_blank"
          rel="noopener noreferrer"> <span>Facebook</span></a></li>
      <li class="is-twitter"><a class="our__links__link" href="#" title="Twitter" target="_blank"
          rel="noopener noreferrer"> <span>Twitter</span></a></li>
      <li class="is-youtube"><a class="our__links__link" href="#" title="YouTube"
          target="_blank" rel="noopener noreferrer"> <span>YouTube</span></a></li>
    </ul>
  </footer>
</body>

</html>