<!DOCTYPE html>
{% extends 'my_hh_app/base.html' %}

<html>
  {% block title %}
  <title>Главная страница</title>
  {%endblock%}
<body>



{% block content %}
  <section>
    <div class="vacancies__header">Вакансии </div>
    <div class="search__div">
      <form  class = "search__form" method="post" id="1">
        {% csrf_token %}
      <input class="vacancies__search"  type="search" placeholder="Поиск по специальности" name="vacancies_search">
      </form>
    </div>

    {% for vacancy in vacancies %}
    <div class="vacancies__card">
      <div class="vacancies__card__div__1">
        <a class="vacancy__name" href="/vacancy_view/{{vacancy.id}}/0">{{vacancy.title}}</a>
        <a class="company__name" href="#"> {{vacancy.company_name}}</a>
      </div>
      <div class="vacancies__card__div__2">
        <span class="vacancies__city">{{vacancy.location}}</span>
      </div>
      <div class="vacancies__card__div__3">
        <a class="respond__btn" href="/vacancy_view/{{vacancy.id}}/0"> Подробнее </a>
        <span class="salary">Оплата: {{vacancy.salary}}</span>
      </div>
    </div>
    {% endfor %}


  </section>

  <section class="resumes">
    <div class="vacancies__header">Резюме </div>
    <div class="search__div">
      <form  class = "search__form" method="post" id="2">
        {% csrf_token %}
      <input class="vacancies__search"  type="search" placeholder="Поиск по специальности" name="resumes_search">
      </form>
    </div>

    {% for resume in resumes %}
    <div class="vacancies__card">
      <div class="vacancies__card__div__1">
        <a class="vacancy__name" href="resume_view/{{resume.id}}">{{resume.spec}}</a>
        <a class="company__name" href="resume_view/{{resume.id}}"> Опыт работы: {{resume.experience}}}</a>
      </div>
      <div class="vacancies__card__div__2">

        <span class="vacancies__city">{{resume.adres}}</span>
      </div>
      <div class="vacancies__card__div__3">
        <a href="resume_view/{{resume.id}}" class="contact__button" type="submit">
          <div class="respond__btn">Получить контакты</div>
        </a>
        <span class="salary">Ожидания по оплате: {{resume.salary}}</span>
      </div>
    </div>
    {% endfor %}


  </section>

</body>

</html>
{% endblock %}