{% extends 'my_hh_app/base.html' %}
{% block title %}
    <title>Регистрация</title>
{% endblock %}
{%block content%}
<body>
  {% if is_valid == False %}
            Проверьте соответствие введенных данных критериям<br>
            errors{{errors}}
        {% endif %}
<section>
    <div class="login__div">
      <p class=login__p>Регистрация</p>
      <form method="post" class="login__form">
       
        {% csrf_token %}
        <div class="all__input__div">
            <div class="reg__input__div">{{form.username}}</div>
            <div class="reg__input__div">{{form.first_name}}</div>
            <div class="reg__input__div">{{form.email}}</div>
            <div class="reg__input__div">{{form.password1}}</div>
            <div class="reg__input__div">{{form.password2}}</div>
        </div>
        <button class="login__btn"><p class="login__btn__p">Регистрация</p></button>
      </form>
      
    </div>

  </section>

</body>
{% endblock %}