<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'my_hh_app/base.html' %}
{% block content %}
{{resume.id}}<br>
{{resume.name}}<br>
{{resume.gender}}<br>
{{resume.phone}}<br>
{{resume.age}}<br>
{{resume.spec}}<br>
{{resume.type_of_employment}}<br>
{{resume.adres}}<br>
{{resume.experience}}<br>
{% for skill in resume.skills.all%}
{{skill}}
{% endfor %}<br>
{% for skill in checked_skills.all%}
{{skill}}
{% endfor %}<br>
{{resume.salary}}<br>
<br>
<br>
{% endblock %}
</body>
</html>