<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'my_hh_app/base.html' %}
{% block content %}
{% if error %}
<h1>ERRORS: {{error}}</h1>
{%endif%}
<section>
  <div class="resume__div">
    <p class=login__p>Заполнение резюме</p>
    <form method="post" class="resume__form">
      {% csrf_token %}
      <div class="all__input__div">
      <div class="resume__input__div"> {{form.spec}}</div>  
      <div class="resume__input__div">{{form.name}}</div>  
      <div class="resume__input__div">{{form.gender}}</div>
      <div class="resume__input__div">{{form.age}}</div>
      <div class="resume__input__div">{{form.adres}}</div>
      <div class="resume__input__div">{{form.experience}}</div>
      <div class="resume__input__div">{{form.type_of_employment}}</div>
      <div class="resume__input__div">{{form.skills}}<span class="hint__p">Для выбора нескольких вариантов зажмите ctrl</span></div>
      <div class="resume__input__div">{{form.phone}}</div>
      <div class="resume__input__div">{{form.salary}}</div>
      </div>
      <button class="save__resume__btn" type="submit"><p class="login__btn__p">Получить работу мечты</p></button>
    </form>
    
  </div>

</section>
{% endblock %}
</body>
</html>