<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'my_hh_app/vacancy_view_base.html' %}
{% block vacancy_view_content %}
<div class="edit__remove__vacancy">
<a class="edit__vacancy" href="http://127.0.0.1:8000/lk/{{vacancy.id}}/change_vacancy">Редактировать вакансию</a>
<form  method="post" class="remove__vacancy" >
        {% csrf_token %}
      <button type="submit"> Удалить вакансию</button>
      </form>
    </div>
{% endblock %}
</body>
</html>