<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'my_hh_app/vacancy_view_base.html' %}
{% block vacancy_view_content %}
{% if status == "candidate" %}
<div class="response__background__div">
<form method="post" class="cover__letter__form">
    {% csrf_token %}
    {{form.cover_letter}}
    {{form.resumes}}
    <button class="respond__btn" type="submit"> Откликнуться </button>
      </form> 
</div>
{% else %}
<p class="ol__header">Чтобы оставить отклик, зарегистрируйтесь, как соискатель</p>
{% endif %}
{{resumes}}


{% endblock %}

</body>
</html>