<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'my_hh_app/base.html' %}
{% block content %}
<br>
{{vacancy.title}}<br>
{{vacancy.location}}<br>
{{vacancy.company_name}}<br>
{% for skill in vacancy.skills.all%}
{{skill}}
{% endfor %}<br>
{{vacancy.salary}}<br>
{% if status == "candidate" %}
<form method="post">
    {% csrf_token %}
    {{form.cover_letter}}
    {{form.resumes}}
    <button> Оставить отклик</button>
</form>
{% else %}
Чтобы оставить отклик, зарегистрируйтесь, как соискатель
{% endif %}
{{resumes}}


{% endblock %}

</body>
</html>