<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% for question in test_form %}
       sA {{question.label.text }}
    {% endfor %}
    <button type="submit">Отправить на проверку</button>
    <div> вот это {{post}}<br></div>
    {{answer_object}}<br>
    {{right_ids}}<br>
    {{minimal_level}}
    <div> вот это{{number_of_points}}</div>
</form>
<section>
    <div class="vacancy__div">
      <p class=login__p>Подтверждение навыка Python</p>
      <form method="post" class="resume__form">
        {% csrf_token %}
        <div class="all__input__div">
          <div class="resume__input__div">
            <div class="question__div">
              <img src="../images/question_icon.svg" class="question__icon">
              <span class="question__text"> Что может являться ключем в словаре в Python</span>
              <div class="answer__variants">Варианты</div>
            </div>
          </div>
          <button class="save__resume__btn">
            <p class="login__btn__p">Отправить на проверку</p>
          </button>
      </form>
    </div>
  </section>
</body>
</html>