{% extends 'my_hh_app/base.html' %}
{% block title%}
    <title>Личный кабинет</title>
{% endblock %}
<body>

{% block content %}


<section class="employer__lk">
  <div class="lk__header">Личный кабинет </div>
  {% if cure_user_status == "employer" %}
<form class = "proform"method="post">
  {% csrf_token %}
  <button  class="subscribe__top__btn" type="submit">
    Получить "ПРО" подписку
  </button>
</form>
{% else %}
<span class="subscribe__top__span">Поздравляем! У вас подписка ПРО </span>
{% endif %}
  <div class="company__info">
    <div class="login__div">
      <p class=employer__lk__p>О вашей компании</p>
      <div class="company__info__small">
          <div>{{company_info.company_name}}</div>
      </div>
      <div class="company__info__small">
          <div>Основана {{company_info.foundation_data}}</div>
      </div>
      <div class="company__info__small">
          <div>Отрасль: {{company_info.industry}}</div>
      </div>
      <div class="company__info__big">
          <div>Стратегия:{{company_info.strategy_description}}</div>
      </div>
      <a href="{{company_info.id}}/change_company_info" class="login__btn">
        <p class="login__btn__p">Редактировать</p>
      </a>
    </div>
    
    <div class="login__div">
      <p class=employer__lk__p>Мои вакансии</p>
      {% for vacancy in vacancies %}
      <div class="company__info__small">
        <a class="company__info__small__a" href="http://127.0.0.1:8000/vacancy_view/{{vacancy.id}}/1">{{vacancy}}</a>
      </div>
      {% endfor %}
      <a href="send_vacation" class="login__btn__add__vacancy">
        <p class="login__btn__p">Добавить вакансию</p>
      </a>
    </div>
  </div>
  </div>
</section>


<section class="your__responses">
  <div class="responses__title">Отклики на ваши вакансии</div>
  {% for response in responses %}
  <div class="responses__card">
    <div class="response__card__div__1">
      <a class="response__vacancy__name" href="/vacancy_view/{{response.vacancy_id.id}}/0">Вакансия: {{response.vacancy_id}}</a>
      <a class="response__resume__name" href="http://127.0.0.1:8000/resume_view/{{response.resume_id.id}}"> Резюме: {{response}}</a>
    </div>
    <div class="response__card__div__2">
      <span class="response__card__div__2__span">Сопроводительное письмо:</span> {{response.cover_letter}} 
    </div>
   
  </div>
  {% endfor %}
</section>

{% endblock %}
</body>
</html>